/**
 * ----------------------------------------
 * general style stuff
 * ----------------------------------------
 */
* {
	font-family: "Open Sans", sans-serif;
}

@font-face {
	font-family: YouTubeSansDarkSemibold;
	src: url(YouTubeSansDarkSemibold.otf);
}

body {
	color: #444444;
	margin: 0;
	padding: 0;
	background-image: url("background-transparent.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	margin: 1em;
}

h1.title {
	font-family: YouTubeSansDarkSemibold;
	/*margin-left: 50px;*/
	/*margin-top: 10px;*/
	color: #333;
	animation-delay: 0.2s!important;
}

/**
 * ----------------------------------------
 * search bar styling
 * ----------------------------------------
 */
#input-section {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-delay: 0.2s!important;
}

#input-section input {
	font-size: 16px;
	margin: 2px;
	padding: 4px;
}

/**
 * ----------------------------------------
 * result card styling
 * ----------------------------------------
 */
#results-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 100px;
	padding-right: 100px;
}

.search-result {
	width: 200px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid gray;
	border-radius: 12px;
	margin: 3px;
	margin-bottom: 12px;
	transition: 0.2s!important;
}

.search-result:hover {
	transform: scale(1.07)!important;
}

.result-thumbnail {
	/*the top left/right corners will match the card rounding*/
	border-radius: inherit;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: inherit;
	width: 100%;
	cursor: pointer; /*clickable*/
}

.result-title {
	text-align: center;
}

.result-year {
	padding: 12px;
}

/**
 * ----------------------------------------
 * overlay stuff
 * ----------------------------------------
 */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
}

.preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #2487ce;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: animate-preloader 1s linear infinite;
}

.spinner-container {
	display: inline;
	position: absolute;
	/*top: 0;*/
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
	justify-content: center;
	align-items: center;
	transform: translateY(-180%);
	opacity: 1;
	padding-top: 20px;
}

.masked {
	clip-path: inset(5px 25px 0px 25px);
}
